html {
  /* font-family: "Inter", sans-serif; */
  font-family: serif;
  scrollbar-gutter: stable;
  font-size: 18px;

  background-color: #f9f5ea;
  /* font-smooth: never; */
  /* -webkit-font-smoothing: none */

  --link-color: #2060c8;
  --text-color: #333;
  --header-line-color: #a1a1a1;

  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Misc */
.bioPic {
  width: 15rem;
}

.blogEntry {
  display: flex;
}

.blogImg {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.projectEntry {
  > div:first-child {
    min-width: 11rem;
  }

  margin-bottom: 1.5rem;
  gap: 1rem;

  .project-tools {
    margin-top: 1rem;
  }
}

ul {
  margin-left: 1rem;
}
/* PICO-8 game page */
.gameFooter {
  margin-top: 1.5rem;
}

.gameScreen {
  position: relative;
  padding-top: 75%;
  height: 0
}

.gameScreen>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #141006;
    color: #f9f5ea;
  }

  a {
    color: #f9f5ea;
  }

  a:hover {
    color: #45a5e0;
  }
}

/* blog styling */

article {
  p:not(:last-child), ul {
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.5; 
  }

  h1, h2, h3 {
    margin-bottom: 1rem;
  }

  h2 {
    border-bottom: dotted 1px var(--header-line-color)
  }
}

/* SITE STYLING 2.0 */

.main {
  margin: auto;
  max-width: 36rem;
  padding: 1.5rem 0 0 1.5rem;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
}

h2, h3 {
  line-height: 1.5;
}

h1 {
  line-height: 2rem; 
}

.site-header {
  > h2 {
    width: 15rem;
    line-height: 1;
    font-size: 1.6rem;
    letter-spacing: -0.08rem;    
  }

  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem 0;
  border-bottom: solid 1px var(--header-line-color);
  padding-bottom: 1.4rem;
  position: relative;

  &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 2px;
      border-bottom: 1px solid var(--header-line-color);
  }
}

.content-cols {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
}

.bio-media {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 47rem) {
  .main {
    padding: 1.5rem;
  }
  .content-cols {
    flex-direction: column;
  }

  .bioPic {
    margin: auto;
  }  
}

.navbar {
  display: flex;
  gap: 1rem;

  &.vnavbar {
    flex-direction: column;
    gap: 0;
  }

  a {
    color: var(--text-color);
  }
}

a {
  color: var(--link-color);
  &:hover, &.selected  {
    text-decoration: underline;
  }

  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1.2rem 0;
  border-top: solid 1px var(--header-line-color);
  position: relative;

  &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 2px;
      border-top: 1px solid var(--header-line-color);
  }
}

