html {
  font-family: "Rubik", sans-serif;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.main {
  max-width: 50rem;
  margin: auto;
  padding: 3rem 3rem;
}

.titlebar {
  width: 20rem;
}

.navbar {
  margin-top: 3rem;
}

.navbar a {
  text-decoration: none;
}

a {
  font-weight: 400;
  color: #444;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: underline;
}

.navbar a {
  margin-right: 1rem;
}

.content {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.social {
  text-decoration: underline;
}

.left {
  flex: 1 1 0;
}

.right {
  flex: 1 1 0;
}

@media (max-width: 50rem) {
  .content {
    flex-direction: column;
  }
}

.left p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.right p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.linkbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

ul {
  margin-left: 1rem;
}

.blogHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 35rem) {
  .blogTitle {
    width: 10rem;
  }
}

.blogEntry {
  display: flex;
  flex-direction: column;
}