html {
  font-family: "Helvetica", "Arial", Sans-Serif;
  scrollbar-gutter: stable;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.main {
  max-width: 40rem;
  margin: auto;
  padding: 3rem 1.5rem;
  margin-bottom: 0rem !important;
}

/* Content layout */
.content {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.left,
.right {
  flex: 1 1 0;
  margin-bottom: 0 !important;
}

div:not(:last-child) {
  margin-bottom: 1.5rem;
}


/* Misc */
.bioPic {
  width: 15rem;
}

.bioRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  line-height: 2rem;
}

.banner {
  margin-bottom: 3rem !important;
}

.header.name {
  width: 20rem;
}

.linkbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.linkbox div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 !important;
}

.blogEntry {
  display: flex;
  margin-bottom: 1rem;
}

.blogImg {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.projectEntry>div:first-child {
  width: 13rem;
}

.projectEntry {
  margin-bottom: 3rem !important;
  gap: 0;
}

/* Page outline */
.outlineBody,
.outlineFooter {
  margin-top: 3rem;
}

/* PICO-8 game page */
.gameFooter {
  margin-top: 1.5rem;
}

.gameScreen {
  position: relative;
  padding-top: 75%;
  height: 0
}

.gameScreen>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Navbar */
.vnavbar {
  display: flex;
  flex-direction: column;
}

.hnavbar {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.vnavbar a,
.hnavbar a {
  text-decoration: none;
}

.vnavbar a:hover,
.hnavbar a:hover {
  text-decoration: underline;
}

.navbar>.selected {
  text-decoration: underline;
}

/* Element overrides */
a {
  color: #444;
  text-decoration: underline;
  text-underline-offset: 4px;
}

ul {
  margin-left: 1rem;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* light/dark mode */
@media (prefers-color-scheme: light) {
  html {
    color: #444;
    background: #f9f5ea;
  }

  a {
    color: #444;
  }

  a:hover {
    color: #508DB4;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #141006;
    color: #f9f5ea;
  }

  a {
    color: #f9f5ea;
  }

  a:hover {
    color: #45a5e0;
  }
}

@media (max-width: 50rem) {
  .content {
    flex-direction: column;
  }

  .hnavbar {
    justify-content: start;
  }

  .bioRight {
    flex-direction: column-reverse;
  }
}